{% extends "main.html" %}
{% block head %}

{% endblock head %}

{% block navbar %}
{% include "topNavBar.html" %}
{% include "base/menubar.html" %}
{% endblock navbar %}

{% block content %}

<div class='main'>
    <div class='topContent'>
        <div class='text -medium -center'>Add Bundle</div>
    </div>
    <div class='form'>
        <form method="post">
            {% csrf_token %}
            <div class='dataCard'>
                <label class='label -middleY' for='SKU' required>SKU</label>
                <input class='input' type="text" max="64" name="SKU" placeholder="SKU" required></input></input>
            </div>
            <div class='dataCard'>
                <label class='label -middleY' for='name' required>Name</label>
                <input class='input' type="text" max="64" name="name" placeholder="Name" required></input></input>
            </div>
            <div class='dataCard'>
                <label class='label -middleY' for='remark' required>Name</label>
                <input class='input' type="text" max="64" name="remark" placeholder="Remark"></input></input>
            </div>               
            <div class='dataCard'>
                <label class='label -middleY' for='Name' required>Item</label>
                <div class='button -width50' onclick=(addItem())>Add Item</div>
                <div class='' id="selectedItem">
                </div>                
            </div>
            <div class='searchBox -hide' id="searchBox">
                <div class='fullWidth'><input class='searchInput -bold -largeText' type='text' id='searchInput' onkeyup='filterItemList()' placeholder='Search Item' class='searchInput'></input></div>
                {% for item in items %}
                    <div class='dataCard searchChoice flex -max80' id="item_{{ item.id }}">
                        <div class='data -header -bold -row itemCode' id="item_code_{{ item.id }}" name="{{item.id}}">{{ item.item_code }}</div>
                        <div class='data -header -row itemName' id="item_name_{{ item.id }}" name="{{item.id}}">{{ item.item_name }}</div>
                        <div class='data -fade -row'>{{ item.item_remark}}</div>
                        <input class='input -width50' type="number" min="1" id="{{item.id}}_amount" placeholder="0">
                        <div class='data -fade' id="item_unit_{{item.id}}">{{ item.item_unit }}</div>
                        <div class='button' onclick="addSearchItem({{item.id}})">Add Item</div>
                    </div>
                {% endfor %}
            </div>
            <button class='button -width100 -bold -positiveBg' type="submit" value='Submit'>Add Bundle</button>
        </form>
    </div>
</div>

{% endblock content %}
{% block script %}
    {% load static %}
    <script src="{% static 'base/js/search.js' %}"></script>
{% endblock script %}
