{% extends "main.html" %}
{% block head %}
{% csrf_token %}
{% endblock head %}

{% block navbar %}
{% include "topNavBar.html" %}
{% include "base/menubar.html" %}
{% endblock navbar %}

{% block content %}

<div class='main'>
    <div class='topContent'>
        <div class='text -medium'>Total Items : {{ total_items }}</div>
        <a href='{% url 'baseAddItem' %}' class='button -small -largeText'>Add Item</a>
    </div>
    <div class='content -oneColumn'>
        <div class='fullWidth'><input class='searchInput -bold -largeText' type='text' id='searchInput' onkeyup='filterItemList()' placeholder='Search Item' class='searchInput'></input></div>
        {% for item in items %}
            <div class='dataCard' id='item_{{ item.id }}'>
                <div class='fullWidth'>
                    <div class='data -header -bold' id="item_code_{{ item.id }}" name="{{item.id}}">{{ item.item_code }}</div>
                    <div class='data -header' id="item_name_{{ item.id }}" name="{{item.id}}">{{ item.item_name }}</div>
                    <div class='data'>{{ item.item_unit }}</div>
                    <div class='data -fade'>{{ item.item_remark}}</div>
                    <a href='{% url 'baseEditItem' item_id=item.id %}' class='button -small'>Edit</a>
                    <div class='button -small -warning' onclick="deleteItem({{ item.id }})" id='delete'>Delete</div>
                </div>
                <div class='fullWidth'>
                    <div class='label'>Amount</div>
                    <div class='data -header'>{{item.in_stock}}</div>
                    <div class='label'>Description</div>
                    <div class='data'><pre>{{item.item_description}}</pre></div>
                </div>                            
            </div>
        {% endfor %}
    </div>
</div>
{% load static %}
<script src="{% static '/js/utils.js' %}"></script>
<script src="{% static '/base/js/itemList.js' %}"></script>
{% endblock content %}