{% extends "main.html" %}
{% block head %}
{% load static %}
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "base/css/login_box.css" %}" />
    <script src="{% static '/js/utils.js' %}"></script>
{% endblock head%}

{% block content %}
<div class="center-form">
    <form id="login-form" method="post" class="login-form">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="title">
            <h1>Login with Email / Username</h1>
        </div>
        <div class="textinput">
            <label for="username">Username</label><input type="text" class="input" id="username" name="username" placeholder="Username" pattern="{5,}" required>
        </div>
        <div class="textinput">
            <label for="password">Password</label><input type="password" class="input" id="password" name="password" placeholder="Password" pattern="{5,}" required>
        </div>
        <div class="button-zone">
            <button type="submit" class="button -login -single" id="lgin-btn">Login</button>
        </div>
    </form>
</div>
{% endblock content %}
{% block script %}
{% comment %} <script src="{% static "/users/js/login.js" %}"></script> {% endcomment %}
{% endblock script %}
