<div class='topContent'>
    <a href='{% url 'baseInventoryMenu' %}' class='button -medium -largeText -center'>Inventory</a>
    <a href='{% url 'baseInventoryIn' %}' class='button -small -largeText -positiveBg'>Buy</a>
    <a href='{% url 'baseInventoryManual' %}' class='button -small -largeText'>Manual</a>
    <a href='{% url 'baseInventoryOutShopee' %}' class='button -small -largeText'>Out Shopee</a>
    <a href='{% url 'baseInventoryOutLazada' %}' class='button -small -largeText'>Out Lazada</a>
</div>